# Arquivos e diretórios gerados pelo Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Arquivos de configuração específicos do ambiente
terraform.rc
*.tfvars

# Arquivos de plano de execução do Terraform
*.tfplan
*.tfplan.*

# Outros arquivos que podem conter informações sensíveis
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Banco de Dados
instance/*
