services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf   
    depends_on:
      - app
    networks:
      - todolist 

  app:
    image: todolist:latest 
    volumes:
      - ./instance:/app/instance
    networks:
      - todolist

networks:
  todolist:

