[Unit]
Description=Gunicorn instance to serve TodoList
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/todolist
Environment="PATH=/todolist/venv/bin"
ExecStart=/todolist/venv/bin/gunicorn --workers 3 --bind unix:todolist.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target